.movies-card {
  max-width: 400px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  justify-self: center;
}
.movies-card__img {
  width: 100%;
  height: 203px;
  object-fit: cover;
  margin-bottom: 16px;
}
.movies-card__title-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.movies-card__title {
  margin: 0 16px 16px 16px;
  
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
}
.movies-card__like-button{
  width: 16px;
  height: 12px;
  border: none;
  background: url('../../images/like-disable.svg') no-repeat;
  margin-right: 22px;
  transition: 0.3s;
}
.movies-card__like-button:hover{
  cursor: pointer;
  background: url('../../images/like-disable-hover.svg') no-repeat;
}
.movies-card__like-button_saved{
  background: url('../../images/like-active.svg') no-repeat;
}
.movies-card__like-button_saved:hover{
  background: url('../../images/like-cross.svg') center/12px 12px no-repeat;
}

.movies-card__length {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;

  color: #A0A0A0;
  margin: 0 0 16px 16px;
}

@media (max-width: 1023px) {
  .movies-card__img {
    height: 190px;
    margin-bottom: 14px;
  }
  .movies-card__title {
    margin: 0 14px 14px 14px;
  }
  .movies-card__length {
    margin: 0 0 14px 14px;
  }
}


@media (max-width: 767px) {
  .movies-card__img {
    height: 168px;
  }
  .movies-card__title {
    margin: 0 14px 14px 14px;
  }
  .movies-card__length {
    margin: 0 0 14px 14px;
  }
}

