.portfolio {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  padding: 50px 0 125px;
}

.portfolio__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #A0A0A0;
  margin: 0 0 50px;
}

.portfolio__items {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.portfolio__item {
  list-style: none;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
}

.portfolio__item:last-child {
  border-bottom: none;
  margin: 0;
}

.portfolio__item-link {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;

  display: block;
  width: 100%;
  padding-bottom: 19px;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  background: url('../../images/main-portfolio-link.svg') right no-repeat;
}

.portfolio__item-link:hover {
  color: #A0A0A0;
}

