.logo__container {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #3456F3;
}
.logo__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}