.about-project {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 110px 0;
}

.about-project__container {
  flex: 0 1 1140px;
  display: flex;
  flex-direction: column;
}

.about-project__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;

  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.about-project__info-text-items {
  padding-top: 70px;
  display: flex;
  margin-bottom: 110px;
}

.about-project__info-text-item:first-child {
  margin-right: 40px;
}

.about-project__info-text-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.about-project__info-text-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.about-project__chart {
  display: flex;
  margin-bottom: 10px;
}

.about-project__chart-item {
  margin: 0;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.about-project__chart-item:first-child {
  flex-basis: 20%;
  background: #3456F3;
  color: #fff;
}

.about-project__chart-item:last-child {
  flex-basis: 80%;
  background: #F2F2F2;
}

.about-project__chart-title {
  display: flex;
}

.about-project__chart-title-item {
  margin: 0;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
}

.about-project__chart-title-item:first-child {
  flex-basis: 20%;
}

.about-project__chart-title-item:last-child {
  flex-basis: 80%;
} 