.techs {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  padding: 100px 0;
  background: #F5F5F5;
}

.techs__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;

  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  margin: 0;
}

.techs__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.techs__info-title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;

  margin: 0 0 25px;
}

.techs__info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  max-width: 460px;
  text-align: center;
  margin: 0 0 100px;
}

.techs__info-items {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.techs__info-item {
  box-sizing: border-box;
  background: #E8E8E8;
  padding: 21px 12px;
  list-style: none;
  margin-right: 10px;
  border-radius: 10px;
  min-width: 90px;
  min-height: 60px;
}

.techs__info-item:last-child {
  margin: 0;
}

.techs__info-item-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  margin: 0;
  text-align: center;
}